body{
    background-color: rgb(200, 239, 173);
}
#home{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: darkred;
}
nav ul li{
    display: inline;
    padding-left: 75px;
    padding-right: 86px;   
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
header{
    background-color: rgb(4, 2, 72);
    height: 200px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
h1{
    text-align: center;
    color: rgb(252, 228, 140);
    padding-top: 20px;
    padding-bottom: -10px;
}
img{
    align-items: center;
    height: 300px;
    border-radius: 50%;
    width: 300px;
    padding-bottom: 30px;
}
#bio{
    text-align: left;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    text-align: center;
}
#bio{
    background-color: rgb(128, 246, 205);
    padding: 3px 60px 15px 60px; 
    box-shadow: 8px 12px 10px 0px;  
    border-radius: 12px;
    
}
.kalai{
    padding: 0px 200px 40px 200px;
}
#portfolio{
    text-align: center;
    background-color: rgb(252, 160, 208);
    padding: 10px 0px 15px 0px;
    border-radius: 12px;
    font-size: 21px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.a{
    padding: 0px 200px 40px 200px;
}
#skill{
    text-align: center;
    padding-top: 30px;
    padding: 20px;
    font-size: 21px;
    
}
li{
    display: inline;
}
#contact{
    text-align: center;
    font-size: 21px;
    
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.684);
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}
hr{
    height: 2px;
    width: 100%;
    background-color: black;
}